body {
	background-color: #1E1E1E;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;

}

.mainTitle {
	background-color: #1E1E1E;
	padding: 16px;
	color: #31FFD2;
	font-size: 32px;
	font-weight: bold;

}

.navigationRow {
	display: flex;
	flex: 1;
	flex-direction: row;
	padding: 10px;

}

.navButton {
	display: flex;
	align-items: center;
	background-color: #D9D9D9;
	padding: 30px;
	border-radius: 16px;
	height: 100px;
	width: 100px;
	margin: 8px;
	text-align: center;

}

.navButton:hover {
	background-color: #31FFD2;
}

.navText {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #1E1E1E;

}

.content {
	display: flex;
	flex-direction: column;
	padding: 8px;
	color: white;
}

.pageTitle {
	font-size: 24px;
}

/* Dashboard */

.section {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.subSection {
	background-color: #D9D9D9;
	border-radius: 16px;
	color: #1E1E1E;
	height: 600px;
	margin: 8px;
	padding: 16px;
	overflow: hidden;

}

.subSectionTitle {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}

.equipmentList {
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	height: 550px;
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	background-color: #D9D9D9;
	border-radius: 16px;

}

.equipmentCard {
	width: 150px;
	height: 200px;
	margin: 4px;
	border-radius: 16px;
	background-color: #1E1E1E;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	gap: 4px;

}

.equipmentCard img {
	height: 40%;
	margin-bottom: 16px;
}

.equipmentName {
	color: #31FFD2;
}

.equipmentSubText {
	font-size: 12px;
	color: gray;
}

.recentLogList {
	height: 550px;
	flex: 1;
	flex-direction: column;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.recentLogCard {
	background-color: #1E1E1E;
	border-radius: 16px;
	margin: 8px;
	padding: 16px;
	color: white;

}

.logDetails {
	justify-content: space-between;
	display: flex;
	flex-direction: row;
}

.logRight {
	text-align: right;
}

/*Equipment Page */

.searchBar {
	display: flex;
	flex: 1;
	background-color: #D9D9D9;
	padding: 8px;
	border-radius: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.searchBar input {
	flex: 1;
	border: none;
	outline: none;
	background: transparent;
	color: #1E1E1E;
	font-size: 14px;
	padding: 6px 8px;
}

.searchResults {
	height: 600px;
	overflow: hidden;
}

.infoLabel {
	color: gray;
	font-size: 12px;
}

.infoValue {
	font-size: 16px;

}

.infoBox {
	margin-top: 16px;
	margin-bottom: 16px;
}



.eqCard {
	margin: 4px;
	border-radius: 16px;
	background-color: #1E1E1E;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: left;
	color: white;
	gap: 4px;
	padding-left: 32px;
	padding-right: 32px;

}

.eqCard img {
	margin: 16px;
	width: 50px;
}

/*acitivities page*/

.filterBox {
	margin-top: 16px;
	display: flex;
	flex: 1;
	flex-direction: row;

}


.filterComponent {
	display: flex;
	flex: 1;
	flex-direction: row;
	margin-bottom: 16px;


}



.rightBox {
	margin-left: 32px;
}

.filterTitle {
	width: 160px;

}

.filterSelector select {
	width: 200px;
	font-size: 32px;
	outline: none;
	margin-right: 8px;
}

.filterButton {
	display: block;
	background-color: #31FFD2;
	color: #1E1E1E;
	padding: 8px;
	border-radius: 16px;
	margin-top: 16px;
	text-align: center;
	text-decoration: none;

}

.filterResults {
	background-color: #D9D9D9;
	padding: 8px;
	margin-top: 16px;
	border-radius: 16px;
	height: 450px;
	overflow: hidden;

}

/*New Log Page*/

.formBox {
	padding: 16px;
}

.formComponent {
	margin-top: 16px;
}

.formComponent input {
	border-radius: 8px;
	font-size: 16px;
	padding: 16px;
	width: 400px;
}


.submitButton {
	display: block;
	background-color: #31FFD2;
	color: #1E1E1E;
	padding: 16px 4px 16px 4px;
	border-radius: 16px;
	margin-top: 16px;
	text-align: center;
	text-decoration: none;
	width: 432px;

}

button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.dummy {
	height: 15px;
}